.card-detail {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4rem 0;
}

.detail-container { 
    width: 30%;
}

.detail-container .detail-categoria { 
    font-size: 0.8rem;
    font-weight: 400;
}

.detail-container .detail-titulo { 
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    padding: 0.8rem 0;
}

.detail-container .detail-precio { 
    font-size: 1.2rem;
    font-weight: 600;
}

.detail-container .detail-stock { 
    font-size: 0.8rem;
}


.img-detail { 
    max-width: 300px;
}

.btn-detail { 
    padding: 0.5rem 0;
    width: 100%;
    margin: 2rem 0;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    font-weight: 600;
}

.btn-detail:hover { 
    background-color: #000000e8;
}



@media (max-width: 800px) { 
    .card-detail {
        width: 85%;
        padding: 2rem 1rem;
    }
    .detail-container { 
        width: 50%;
    }

    .img-detail { 
        max-width: 250px;
    }
}

@media (max-width: 500px) { 
    .card-detail {
        width: 75%;
        display: block;
        padding: 2rem 0;
        text-align: center;
        position: relative;
    }

    .detail-container { 
        width: 100%;
    }

    .card-responsive { 
        margin-top: 20rem;
    }

    .img-detail { 
        max-width: 200px;
        position: absolute;
        width: 100%;
        margin: auto;
        left: 0;
        right: 0;
        top: 140px;
    }
}