.container_navbar { 
    width: 80%;
    height: 80vh;
    align-items: center;
    z-index: 200;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: 2rem;
    margin: auto;
}


.img_palmera { 
    position: absolute;
    top: 0;
    left: 0;
}

.img_planta { 
    position: absolute;
    bottom: 0;
    right: 0;
}

.container_text { 
    padding: 12rem 0;
    width: 50%;
    margin-left: 5rem;
}

.container_text p { 
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

.title {    
    text-align: start;
    line-height: 1.3rem;
    font-weight: 800;
    letter-spacing: 0.3rem;
    font-size: 3rem;
    color:#a4e6a1;
}

.getStart { 
    background-color: #a4e6a1;
    padding: 0.8rem 3rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.getStart:hover { 
    background-color: #c3eec1;
}

/* mediaQueryes */

@media (max-width: 800px) { 
    .img_planta { 
        display: none;
    }

    .container_text { 
        padding: 12rem 0;
        width: 80%;
        margin-left: 3rem;
    }
    

}