.item_counter{
    text-align: center;
}

.container_counter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_counter button {
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    margin: 0 1rem;
}

